* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #39393A;
}

h1, h2, h3, h4, h5, h6 {
    color: #1B1B1B;
}

h1 {
    font: 700 2rem Roboto, sans-serif;
    text-align: center;
    margin-bottom: 1.5rem;
}

h2, h3, h4, h5, h6 {
    font: 700 1.5rem Roboto, sans-serif;
}

body {
    background: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
}

main {
    background: #FFFFFF;
    padding: 5rem 3rem;
    border-radius: 1.5rem;
    margin: 3rem 1.5rem 4rem;
}

main figcaption {
    color: #8F8F8F;
    font-size: 0.75rem;
}

footer {
    color: #8F8F8F;
    font-size: 0.75rem;
    margin-bottom: 1.8rem;
}

body li {
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    margin-top: 3.2rem;
    margin-bottom: 1.2rem;
}

img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 0.8rem;
}

figcaption {
    text-align: right;
    margin-top: 0.4rem;
}